<!DOCTYPE html>
<html>
    
    <link media="all" rel="stylesheet" href="/statics/main.css" />
    <body>
        <div class="poker-list">
            <div class="card-item poker heart-2" style="left: 0px;"></div>
            <div class="card-item poker heart-3" style="left: 40px;"></div>
            <div class="card-item poker heart-4" style="left: 80px;"></div>
            <div class="card-item poker heart-5" style="left: 120px;"></div>
            <div class="card-item poker heart-6" style="left: 160px;"></div>
            <div class="card-item poker heart-7" style="left: 200px;"></div>
            <div class="card-item poker heart-8" style="left: 240px;"></div>
            <div class="card-item poker heart-9" style="left: 280px;"></div>
            <div class="card-item poker heart-10" style="left: 320px;"></div>
            <div class="card-item poker heart-J" style="left: 360px;"></div>
            <div class="card-item poker heart-Q" style="left: 400px;"></div>
            <div class="card-item poker heart-K" style="left: 440px;"></div>
            <div class="card-item poker heart-A" style="left: 480px;"></div>
        </div>
    
        <div class="poker-list">
            <div class="card-item poker spade-2" style="left: 0px;"></div>
            <div class="card-item poker spade-3" style="left: 40px;"></div>
            <div class="card-item poker spade-4" style="left: 80px;"></div>
            <div class="card-item poker spade-5" style="left: 120px;"></div>
            <div class="card-item poker spade-6" style="left: 160px;"></div>
            <div class="card-item poker spade-7" style="left: 200px;"></div>
            <div class="card-item poker spade-8" style="left: 240px;"></div>
            <div class="card-item poker spade-9" style="left: 280px;"></div>
            <div class="card-item poker spade-10" style="left: 320px;"></div>
            <div class="card-item poker spade-J" style="left: 360px;"></div>
            <div class="card-item poker spade-Q" style="left: 400px;"></div>
            <div class="card-item poker spade-K" style="left: 440px;"></div>
            <div class="card-item poker spade-A" style="left: 480px;"></div>
        </div>
    
        <div class="poker-list">
            <div class="card-item poker club-2" style="left: 0px;"></div>
            <div class="card-item poker club-3" style="left: 40px;"></div>
            <div class="card-item poker club-4" style="left: 80px;"></div>
            <div class="card-item poker club-5" style="left: 120px;"></div>
            <div class="card-item poker club-6" style="left: 160px;"></div>
            <div class="card-item poker club-7" style="left: 200px;"></div>
            <div class="card-item poker club-8" style="left: 240px;"></div>
            <div class="card-item poker club-9" style="left: 280px;"></div>
            <div class="card-item poker club-10" style="left: 320px;"></div>
            <div class="card-item poker club-J" style="left: 360px;"></div>
            <div class="card-item poker club-Q" style="left: 400px;"></div>
            <div class="card-item poker club-K" style="left: 440px;"></div>
            <div class="card-item poker club-A" style="left: 480px;"></div>
        </div>


        <div class="poker-list">
            <div class="card-item poker diamond-2" style="left: 0px;"></div>
            <div class="card-item poker diamond-3" style="left: 40px;"></div>
            <div class="card-item poker diamond-4" style="left: 80px;"></div>
            <div class="card-item poker diamond-5" style="left: 120px;"></div>
            <div class="card-item poker diamond-6" style="left: 160px;"></div>
            <div class="card-item poker diamond-7" style="left: 200px;"></div>
            <div class="card-item poker diamond-8" style="left: 240px;"></div>
            <div class="card-item poker diamond-9" style="left: 280px;"></div>
            <div class="card-item poker diamond-10" style="left: 320px;"></div>
            <div class="card-item poker diamond-J" style="left: 360px;"></div>
            <div class="card-item poker diamond-Q" style="left: 400px;"></div>
            <div class="card-item poker diamond-K" style="left: 440px;"></div>
            <div class="card-item poker diamond-A" style="left: 480px;"></div>
        </div>

        <div class="poker-list">
            <div class="card-item poker bigjoker" style="left: 0px;"></div>
            <div class="card-item poker smalljoker" style="left: 40px;"></div>
            <div class="card-item poker unknown" style="left: 80px;"></div>
        </div>
    </body>
</html>

