<!DOCTYPE html>
<html>
    
    <link media="all" rel="stylesheet" href="/statics/main.css" />
    <body>
        <div class="poker-list">
            <div class="card-item poker heart-2" style="left: 0px;"></div>
            <div class="card-item poker heart-3" style="left: 40px;"></div>
            <div class="card-item poker heart-4" style="left: 80px;"></div>
            <div class="card-item poker heart-5" style="left: 120px;"></div>
            <div class="card-item poker heart-6" style="left: 160px;"></div>
            <!-- <div class="card-item poker heart-7"></div>
            <div class="card-item poker heart-8"></div>
            <div class="card-item poker heart-9"></div>
            <div class="card-item poker heart-10"></div>
            <div class="card-item poker heart-J"></div>
            <div class="card-item poker heart-Q"></div>
            <div class="card-item poker heart-K"></div>
            <div class="card-item poker heart-A"></div> -->
        </div>
    </body>
</html>

